@using SportStore.Models.ProductModel
@model IndexViewModel;
@{
    Layout = "_Layout";
}
<div class="body-content">
    <div class="leftBar">
        <form asp-action="Index" asp-controller="Product" method="get" class="price-filter-block">
            <p class="price-filter-text">
                Фильтровать по цене
            </p>
            <button type="submit" id="price-filter-button" class="price-filter-button">Показать</button>
            <input name="minPrice" value="0" id="min-price" class="price-filter-input">
            <input name="maxPrice" value="1000" id="max-price" class="price-filter-input">
        </form>
        @await Component.InvokeAsync("NavigationLeftBar")
    </div>
    <div class="contentBlock">
        <link rel="stylesheet" href="/css/PageButtons.css">
        <a asp-action="ControlPanel" asp-controller="AdminProductMvc" class="admin-button">Admin</a>
        <button id="ajaxSender">TEST</button>
        <form action="Products">
            
        </form>
        <div id="products-output-area" class="products-output-area">
            
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossOrigin="anonymous"></script>
<script src="/js/ProductsFilterDownloader.js"></script>