<!DOCTYPE html>
<html>
<head>
    <title>SportsStore</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/AdminIndex.css">
</head>
<body>
@* @await Component.InvokeAsync("Header") *@
<div class="adminBodyContent">
    @RenderBody()
</div>
</body>
</html>