<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Monstro</title>
    <link rel="stylesheet" href="/css/Dev.css">
    <link rel="stylesheet" href="/css/AdminHeader.css">
    <link rel="stylesheet" href="/css/Nullable.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
@await Component.InvokeAsync("Header")
<div class="content-block">
    <div style="padding: 30px">
        @RenderBody()
    </div>
</div>
</body>
</html>