@model dynamic

@{
    Layout = null;
}

@* <!DOCTYPE html> *@

<html>
<head>
    <title>title</title>
</head>
<body>
 <script src="./lib/jquery/dist/jquery.min.js"/>
<div>
    <h1>@ViewBag.isLogged</h1>
    <h1>@ViewBag.isLogouted</h1>
    <input id="email" type="email" placeholder="email" name="email">
    <input id="password" type="password" placeholder="password" name="password">
    <button id="buttonIn" type="submit">send</button>
    <button id="buttonOut">LogOut</button>
    <div id="output"></div>

    <script>
    let emailSrc = document.querySelector("#email");
    let passwordSrc = document.querySelector("#password");
    let buttonIn = document.querySelector("#buttonIn");
    let buttonOut = document.querySelector("#buttonOut");
    let output = document.querySelector("#password");
    buttonIn.addEventListener('click',()=>$.ajax({
                                                            url: `https://localhost:5005/api/Auth/LogIn`,
                                                        type: "POST",
                                                        data: {
                                                            email:emailSrc.value,
                                                            password: passwordSrc.value                 
                                                        },
                                                    }).done(response =>console.log(response)));
    
    buttonOut.addEventListener('click',()=>$.ajax({
     url: `https://localhost:5005/api/Auth/LogIn`,type: "POST",   
    }).done(response=>console.log(response)))
    </script>
</div>
</body>
</html>