body {
    font-size: 30px;
    margin: 0;
    width: 100%;
    height: 100%;
    /*padding: 30px;*/
}

.header {
    height: 100px;
    text-align: center;
    border: solid 2px deeppink;
}

.bodyContent {
    display: flex;
    /*border: solid red 2px;*/
}

.contentBlock {
    padding: 30px;
    border: solid 2px orangered;
    width: 100%;
}

.leftBar {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    width: 400px;
    border: solid 2px #e565ab;
    align-items: center;
}

.leftBarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 90%;
    height: 50px;
    border: solid #69fc0f 3px;
}