.products-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: #5500ff solid 2px;*/
    width: 900px;

    
}
.product-block{
    border: #de005c solid 1px;
    display: flex;
    margin: 10px;
    color: #e5dddd;
    background: #000000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    
}
.product-block-Left{
    /*border: #667dce solid 1px;*/
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-img-holder{
    background: url("../imgs/tropic.jpg") 0 0/ 100% 100% no-repeat;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    margin: 15px;
}
.product-category{
    font-size: 20px;
    margin-bottom: 15px;
    /*border: #9fcdff solid 5px;*/
}
.product-block-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /*border: #81c77b solid 1px;*/
    width: 600px;
    padding: 15px;
}
.product-id{
    display: inline-block;
    /*border: solid 1px red;*/
}
.product-name{
    display: inline-block;
    /*border: solid 1px blue;*/
}
.product-description{
    margin: 15px 0 15px;
    /*border: solid rebeccapurple 2px;*/
    
}
.product-price{
    /*border: solid cyan 2px;*/
}

