@model DAO.Models.Order

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CheckOut" asp-controller="Order" method="post">
    
    <div class="checkbox">
        <label>
            <input asp-for="GiftWrap"/> Gift wrap these items
        </label>
    </div>

    <div class="text-center">
        <input class="Ьtn Ьtn-primary" type="submit" value="Complete Order"/>
    </div>

</form>