@model SportStore.Models.Core.Cart


<div class="admin-header">
    <a asp-action="ControlPanel" asp-controller="Admin" class="admin-header__link">Main</a>
    <a asp-action="ControlPanel" asp-controller="AdminProductMvc" class="admin-header__link">Products</a>
    <a asp-action="ControlPanel" asp-controller="AdminUsersRoles" class="admin-header__link">Users</a>
</div>