@model DAO.Models.Core.Cart

<div class="admin-header">
    <a href="https://localhost:5005/Admin/ControlPanel" class="admin-header__link">Main</a>
    <a href="https://localhost:5005/AdminProduct/ControlPanel" class="admin-header__link">Products</a>
    <a href="https://localhost:7000/AdminUsersRoles/Index" class="admin-header__link">UserRoles</a>
    <a href="https://localhost:7000/AdminRoles/Index" class="admin-header__link">Roles</a>
    <a href="https://localhost:7000/AuthEmployee/IndexUser" class="admin-header__link">TestUser</a>
    <a href="https://localhost:7000/AuthEmployee/IndexAdmin" class="admin-header__link">TestAdmin</a>
    <a href="https://localhost:7000/AuthEmployee/SignIn" class="admin-header__link">SignIn</a>
    <a href="https://localhost:7000/AuthEmployee/SignOut" class="admin-header__link">SignOut</a>
    <a href="https://localhost:7000/AuthEmployee/SignUp" class="admin-header__link">SignUp</a>
</div>
@* *@
@* <div class="admin-header"> *@
@*     <a asp-action="ControlPanel" asp-controller="Admin" class="admin-header__link">Main</a> *@
@*     <a asp-action="ControlPanel" asp-controller="AdminProduct" class="admin-header__link">Products</a> *@
@*     <a asp-action="Index" asp-controller="AdminUsersRoles" class="admin-header__link">UserRoles</a> *@
@*     <a asp-action="Index" asp-controller="AdminRoles" class="admin-header__link">Roles</a> *@
@*     <a asp-action="IndexUser" asp-controller="AuthPersonal" class="admin-header__link">TestUser</a> *@
@*     <a asp-action="IndexAdmin" asp-controller="AuthPersonal" class="admin-header__link">TestAdmin</a> *@
@*     <a asp-action="SignIn" asp-controller="AuthPersonal" class="admin-header__link">SignIn</a> *@
@*     <a asp-action="SignOut" asp-controller="AuthPersonal" class="admin-header__link">SignOut</a> *@
@* </div> *@