@model SportStore.Models.Core.Cart

<div class="empty">
    <div class="header-block-holder">
        <div class="header-block">
            <div class="header-burger"></div>
            <div class="header-logo"></div>
            <div class="header-nav-block">
                <div class="header-nav-icon"></div>
                <div class="header-nav-text">Каталог</div>
            </div>
            <form class="header-search-block">
                <input class="header-search" value="Я ищу..."/>
                <button class="header-search-button">Найти</button>
            </form>
            <div class="header-language-block">
                <div class="header-language" style="border-right: #2c3280 solid 1px">
                    RU
                </div>
                <div class="header-language">
                    UA
                </div>
                <div class="header-language" style="border-left: #2c3280 solid 1px">
                    EN
                </div>
            </div>
            <div class="header-login-block">
                <div class="header-login-icon"></div>
                <input class="header-login-input" value="login"/>
                <input class="header-login-input" value="password"/>
            </div>
            <div class="header-registration-block"></div>
            <div class="header-cart-block">
                <div class="header-cart-icon"></div>
                <div class="header-cart-items">11</div>
            </div>
        </div>
    </div>
</div>

@* <div class="header"> *@
@*     <a class="logo" href="#">Monstro</a> *@
@*      *@
@*     <div class="cartBlock"> *@
@*         <div> *@
@*             items: @Model.Lines().Sum(l => l.Count) @Model.TotalCost()$ *@
@*         </div> *@
@*         <a class="cartImg" *@
@*            asp-action="CartPage" asp-controller="Cart" *@
@*            asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"> *@
@*         </a> *@
@* *@
@*     </div> *@
@* </div> *@