@model SportStore.Models.Core.Cart


<div class="admin-header">
    <a asp-action="ControlPanel" asp-controller="Admin" class="admin-header__link">Main</a>
    <a asp-action="ControlPanel" asp-controller="AdminProductMvc" class="admin-header__link">Products</a>
    <a asp-action="Index" asp-controller="AdminUsersRoles" class="admin-header__link">UserRoles</a>
    <a asp-action="Index" asp-controller="AdminRoles" class="admin-header__link">Roles</a>
    <a asp-action="IndexUser" asp-controller="AuthPersonal" class="admin-header__link">TestUser</a>
    <a asp-action="IndexAdmin" asp-controller="AuthPersonal" class="admin-header__link">TestAdmin</a>
    <a asp-action="SignIn" asp-controller="AuthPersonal" class="admin-header__link">SignIn</a>
    <a asp-action="SignOut" asp-controller="AuthPersonal" class="admin-header__link">SignOut</a>
</div>