@model Product

<form asp-action="AddProduct" method="post">
    @* <div> *@
    @*     <label asp-for="Id">Product ID</label> *@
    @*     <input asp-for="Id" value="id"/> *@
    @* </div> *@
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" value="name"/>
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <input asp-for="Description" value="description"/>
    </div>
    <div>
        <label asp-for="Category">Category</label>
        <input asp-for="Category" value="category"/>
    </div>
    <div>
        <label asp-for="Price">Price</label>
        <input asp-for="Price" value="price"/>
    </div>
    <button type="submit">Add</button>
    <a asp-action="Index">Cansel</a>
</form>