@model ProductsListViewModel;
@* @addTagHelper PageLinkTagHelper, SportStore; *@


<a asp-action="ControlPanel" asp-controller="Admin">Admin</a>

<div class="products-block">
    @foreach (Product product in Model.Products)
    {
        @await Html.PartialAsync("SingleProductBlock", product)
    }
    <div page-model="@Model.PagingInfo" css-class="pageButtonCommon" current-page-css-class="pageButtonCurrent"></div>
</div>