:root {

}

.cartMini {
    background: #fcfcfc;
    /*display: flex;*/
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 0px 6px 5px rgb(0 0 0 / 7%);
    z-index: 40;
    width: 422px;
    margin-left: 1414px;
    margin-top: 468px;
}

.productsHolder {
    max-height: 172px;
    overflow: auto;

}

.mainButton:hover {
    background: -moz-linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    background: -webkit-linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    background: linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    color: #232f3e;
}

.countHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 55px;*/
    height: 90px;;
    background: #232f3e;
    color: #ffff00;
    font-size: 19px;
    position: relative;
    z-index: 10;
    background: var(--fourthColor);
    color: white;
}

.countHolder_exit {
    position: absolute;
    display: flex;
    align-self: end;
    justify-self: end;
    top: 10px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
}


.countHolder__header {
    font-size: 24px;
    text-align: center;
}

/*.productHolder__imgHolder {*/

/*    width: 250px;*/
/*    height: ;*/
/*}*/
.productHolder {
    display: flex;
    /*border-bottom: #efefef solid 1px;*/
    font-size: 20px;
    margin: 5px;
    border: solid lightgrey 1px;
}

.productHolder_img {
    width: 120px;
    height: auto;
    /*margin: 15px 30px 30px 30px;*/
    margin: 15px 20px 24px 20px;
}

.productHolder_infoBlock {
    /*padding: 20px;*/
    display: flex;
    /*margin: 15px 15px 10px;*/
    margin: 0px 0px 10px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.productHolder_info {
    min-height: 50px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.productHolder__productName {
}

.productHolder__count {
}

.productHolder__price {
}

.approveHolder {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    /*width: 100%;*/
    background: var(--fourthColor);
    color: white;
}

.approveHolder_summaryTextPriceHolder {
    display: flex;
    justify-content: center;
    width: 250px;
    align-self: start;
    margin: 10px 10px;
    align-self: center;
    /*margin: 0 0 0 40px;*/
}

.approveHolder__summaryText {
}

.approveHolder__summaryPrice {
}

.productHolder__money {

}

.cartPrice{
    display: flex;
    /*justify-content: center;*/
    font-size: 20px;
    align-items: center;
}
.approveHolder_money {
    font-size: 22px;
    margin-left: 5px;
    align-self: center;
}

.countInputBlock {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*margin-left: 5px;*/
    margin-bottom: 7px;

}

.countInputBlockCount_correctButton {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 15px;
    /*border: solid 1px #0033ff;*/
    color: white;
    background: #232f3e;
    cursor: pointer;
    /*margin: 0 7px 0 7px;*/
}

.countInputBlock_countInput {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-width: 25px;*/
    font-size: 20px;
    width: 33px;
    /*height: 25px;*/
    height: 23px;
    /*border-top: solid 1px #232f3e;*/
    border-top: solid 1px lightgrey;
    /*border-bottom: solid 1px #232f3e;*/
    border-bottom: solid 1px lightgrey;

    /*font-weight: bolder;*/
}

.mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #2133fc;
    height: 40px;
    /*height: 55px;*/
    width: 250px;
    /*width: 305px;*/
    /*font-size: 23px;*/
    color: #232f3e;
    font-size: 25px;
    font-family: gotham;
    background: url(../img/button.jpg) 0 0 / auto 100% no-repeat;
    border: none;
    /*border-radius: 7px;*/
    align-self: center;
    margin-bottom: 25px;
    cursor: pointer;
}

