:root {
    --fontSize: 35px;
    --backFormColor: white;
    --lightMain: #2543c4;
    --headerMain: #0e1b25;
    --mainColor: #27648d;

    --yellow: #d9c10a;
    --yellow: #0000ff;
    --yellow: #ff0000;
    /*--mainColor: #37475a;*/

    --footerLine: #37475a;
    --exMainColor: #0f1111;
    --secondColor: #0e1b25;
    --secondColor2: #163042;
    --thirdColor: #007185;
    --fourthColor: #232f3e;
    --fifthColor: #273367;
    --lastLight: #2543c4;
    --oldMainColor: #4f67b6;
    --lastGood: #3e49c0;
}

.none {
    display: none;
}


.main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 1200px;
}

.authFormHolder {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.51);
    z-index: 14;
}

.futterBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 100px;*/
}

.footerLoginBlockHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    margin: 50px;
}

.footerButton {
    width: 300px;
    height: 50px;
    background: url(../img/button.jpg) 0 0 / auto 100% no-repeat;
    border: none;
    font-size: 25px;
}

.footerLine {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: var(--footerLine);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 100px;*/
    color: white;
    font-size: 50px;
}

.footerLine:hover {
    background: var(--fifthColor)
}

.footerContent {
    display: flex;
    justify-content: center;
    background: var(--fourthColor);
    width: 100%;
}

.footerTable {
    /*border: lightgrey solid 1px;*/
    width: 1200px;
    height: 200px;
    margin: 50px 0;

    /*font-size: 25px;*/
}

.footerTable thead {
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}

.footerTable th {
    font-size: var(--fontSize);
    color: #ffffff;
    font-size: 15px;
    margin: -20px 15px;
    height: 10px;
    /*border: lightgrey solid 1px;*/
}

.footerTable tr {
    font-size: 15px;
    color: darkblue;
    margin-top: -20px;
    /*border: #5c6165 solid 1px;*/
}

.footerPS {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondColor);
    width: 100%;
    height: 100px;
    color: white;
    border-top: 1px solid #151b31;
}

.footerLogo {
    background: url("../imgs/BFS shop.png") 0 0 / 100% 100% no-repeat;
    height: 53px;
    width: 189px;
}

.footerPS button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    font-size: 20px;
    border: solid 1px grey;
    background: black;
    color: white;
    margin: 0 90px;
}