.content-block {
    display: flex;
    justify-content: center;
    width: 100%;
}


.body-content {
    display: flex;
    width: 1500px;
    justify-content: space-between;
    /*border: #3a18b5 solid 1px;*/
}


.main-holder {
    /*padding: 200px;*/
    display: flex;
}

.products-output-area {
    /*border: solid black 1px;*/
    /*margin: 100px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    min-width: 290px;
    /*margin-right: -40px;*/
}


.product-block {
    display: flex;
    flex-direction: column;
    border: solid #d3d3d3 1px;
    width: 250px;
    height: 400px;
    padding: 20px;
    flex-shrink: 0;
    margin: -1px 0 0 -1px;
}

.product-block:hover {
    position: relative;
    z-index: 1;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.28);
}

.product-banner-holder {
    height: 20px;
    min-height: 20px;
}

.product-banner {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100px;
    background: #eeb937;
    /*background: #373aee;*/
    border-radius: 20px;
    margin-bottom: -10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.product-img {
    /*border: solid black 1px;*/
    width: 200px;
    height: 200px;
    align-self: center;
    flex-shrink: 0;
    cursor: pointer;
    /*-webkit-box-shadow: inset 0px 0px 24px 13px rgba(0,0,0,0.28);*/
    /*box-shadow: inset 0px 0px 24px 13px rgba(0,0,0,0.28);*/
}

.product-name {
    /*border: solid black 1px;*/
    display: flex;
    align-items: center;
    margin: 5px 0;
    min-height: 60px;
    max-height: 60px;
    text-align: justify;
}

.product-price {
    /*border: solid black 1px;*/
    font-weight: bold;
}

.product-add {
    display: flex;
    /*border: solid black 1px;*/
    flex-shrink: 0;
    width: 170px;
    height: 45px;
    /*background: #340d8e;*/
    /*background: var(--mainColor);*/
    background: var(--lightMain);

    color: white;

    justify-content: center;
    font-family: "Arial", serif;
    font-weight: bold;
    align-items: center;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
    align-self: center;
    cursor: pointer;
    /*justify-self: center;*/

}

.product-comments {
    color: var(--lastGood);
    align-self: center;
}

.product-add:hover {
    background: var(--lightMain);
    background: #FFD719;
    background: -moz-linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    background: -webkit-linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    background: linear-gradient(45deg, #FFD719 0%, #FFEB02 47%, #FFC900 100%);
    color: black;
}

.borderedDev{
    /*border: solid black 1px;*/
}


