:root {
    --let-margin: 20px 10px;
    --position-reff1: sticky;
    --position-reff2: relative;
    --position-reff3: relative;
}

p {
    font-size: 20px;
    margin: var(--let-margin);
    font-family: Roboto, serif;
}

ul {
    margin: var(--let-margin);
}

h1 {
    font-size: 27px;
    margin: var(--let-margin);
    font-family: Roboto, serif;
}

li {
    margin: var(--let-margin);
    margin-left: 20px;
}

.ppMainBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*overflow: hidden;*/
}

.info-holder {
    position: relative;
    width: 1600px;
    /*left: -800px;*/
    /*margin-left: 50%;*/
}

.pp-naw-block {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    wrap-option: disabled;
    justify-content: space-between;
    /*background: #9fcdff;*/
    border-bottom: solid 1px #eeeeee;
    position: var(--position-reff1);
    top: -36px;
    z-index: 12;
}

.h0 {
    font-size: 35px;
    font-weight: bolder;
    /*justify-self: center;*/
    /*align-self: center;*/
    margin-left: 100px;
}

.productPageNavigation {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: 1px #dcdcdc solid;
    width: 100%;
    background: #f5f5f5;
    /*background: rgba(255,255,255,0.50);*/
    justify-content: center;
    /*margin-bottom: 3px;*/

    align-self: center;
}

.productPageNavigation a {
    display: flex;
    position: relative;
    /*left: -300px;*/
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    font-size: 22px;
    color: black;

    padding: 0 15px;
    /*-webkit-box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.2);*/
    /*box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.2);*/
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
}

.productPageNavigation a:hover {
    color: var(--fifthColor);
    /*height: 60px;*/
    /*width: 280px;*/
    -webkit-box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.04);
    box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.04);
}


.pp-body-content {
    position: relative;
    left: -800px;
    margin-left: 50%;
    display: flex;
    width: 1600px;
    /*border: solid black 1px;*/
    font-size: 22px;
}

.pp-img-block {
    width: 600px;
}

.pp-img {
    width: 90%;
    height: 90%;
    margin-top: 50px;
    position: var(--position-reff2);
    top: 100px;
    margin-bottom: -250px;
    /*-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04);*/
    /*box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04);*/
}

.pp-info-block {
    /*border: solid black 1px;*/
    border-right: solid 1px #c5c5c5;
    width: 700px;
    padding: 20px;
    /*-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04);*/
    /*box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.04);*/
}

.pp-price-block {
    font-size: 25px;
    color: #739c0b;
    margin: var(--let-margin);
}

.pp-available {
    margin: var(--let-margin);
}

.pp-add-count-holder {
    display: flex;
    border: solid black 1px;
    height: 40px;
}

.pp-add-count {
    display: flex;
    /*border: solid black 1px;*/
    margin: var(--let-margin);
    align-items: center;
}

.pp-increment-button {
    border: none;
    width: 40px;
    height: 40px;
}

.pp-count-input {
    width: 40px;
    height: 40px;
    border: none;
    border-left: #cccccc solid 1px;
    border-right: #cccccc solid 1px;
    text-align: center;
}


.pp-add-cart-button {
    border: solid black 1px;
    width: 150px;
    height: 40px;
    margin: var(--let-margin);
    background: #002bd9;
    color: white;
}

.pp-line {
    border-top: solid #cccccc 1px;
    margin: var(--let-margin);
}

.pp-delivery-block {
    width: 300px;
    margin: 30px 0 0 40px;
    padding: 20px 30px;
}

.pp-delivery-p {
    border-bottom: solid #cccccc 1px;
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    font-family: Roboto, serif;
}

.stickyContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #5b2dfa;*/
    display: flex;
    justify-content: end;
    align-items: start;
}

.pp-delivery-holder {
    width: 300px;
    margin: 30px 0 0 40px;
    padding: 20px 30px;
    position: var(--position-reff3);
    /*top: 80px;*/
    /*top: 130px;*/
    right: 0;
    z-index: 15;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
}