


.regBlock {
    display: flex;
    flex-direction: column;
    /*border: solid #0000ff 1px;*/
    background: var(--backFormColor);
    width: 550px;
    height: 900px;
    margin: 30px 20px;
    padding: 20px 0;
    /*justify-self: end;*/
    align-items: center;
    justify-content: space-around;
}

.regMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 900px;
    font-size: var(--fontSize);
}

.regBlankHolder {
    display: flex;
    flex-direction: column;
    /*margin-top: 100px;*/
    margin-bottom: 200px;
    /*border: solid 1px black;*/
    justify-content: center;
    align-items: center;

}

.regBlockInput {
    font-size: var(--fontSize);
    margin: 10px;
}

.regBlockLabel {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
    font-size: var(--fontSize);
}


.loginForm {
    display: flex;
    flex-direction: column;
    /*border: solid black 1px;*/
    background: #ffffff;
    width: 500px;
    /*position: absolute;*/
    /*left: 70%;*/
    /*margin-left: -350px;*/
    /*align-self: end;*/
}

.inputBlock {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.inputBlockErrorText {
    color: red;
    font-size: 20px;
    margin: 5px 0;
}

.inputBlockLabel {
    display: flex;
    flex-direction: column;
    font-size: var(--fontSize);
    margin: 5px;
    /*width: 450px;*/

    color: #0019b9;
}

.formButton {
    margin: 10px;
    font-size: var(--fontSize);
    min-width: 200px;
    border-radius: 5px;
    border: blue 1px solid;
}

.inputBlockInput {
    font-size: var(--fontSize);
    margin: 5px 0;
    padding: 5px;
    border: none;
}


.none {
    display: none;
}

.thanks {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background: #002bd9;
    z-index: 11;
}

.thanks a {
    color: white;
    font-size: 50px;
}


.headerLoginInput {
    border: none;
    background: none;
    min-width: 0;
    box-shadow: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #4051c9;
    padding: 5px 15px 5px 40px;
    color: #050507;
    font-size: var(--fontSize);
    font-style: italic;
    font-family: "Calibri Light";
    border-right: none;
    -webkit-appearance: none;
}

.inputBlockErrorInput {
    border-bottom: solid red 1px;
    /*border-right: none;*/
    /*background: none;*/
}

::placeholder {
    color: black;
}

.editProfileContentBlock {
    padding-bottom: 200px;
    /*border: var(--border);*/
}

/*.marginRandomizeLeft {*/
/*    transition: 110px;*/
/*}*/

/*.marginRandomizeRight {*/
/*    margin-left: -110px;*/
/*}*/