<!DOCTYPE html>
<html>
<head>
    <title>SportsStore</title>
    <link rel="stylesheet" href="/css/ProductBlock.css">
    <link rel="stylesheet" href="/css/MainStyle.css">
    <link rel="stylesheet" href="/css/PageButtons.css">
    <link rel="stylesheet" href="/css/Header.css">
    
</head>
<body>
@await Component.InvokeAsync("Header")
<div class="bodyContent">
    @RenderBody()
</div>
</body>
</html>