<!DOCTYPE html>
<html>
<head>
    <title>SportsStore</title>
    <link rel="stylesheet" href="/css/MainLayout.css">
</head>
<body>
<div class="header">
<p>    @DateTime.Now.ToString("HH:mm:ss")</p>
    Header
</div>
<div class="bodyContent">
    @RenderBody()
</div>
</body>
</html>