<!DOCTYPE html>
<html>
<head>
    <title>SportsStore</title>
    
    <link rel="stylesheet" href="/css/MainStyle.css">
    <link rel="stylesheet" href="/css/ProductBlock.css">
    <link rel="stylesheet" href="/css/TestStyle.css">
</head>
<body>
<div class="header">
<p>@DateTime.Now.ToString("HH:mm:ss")</p>
</div>
<div class="bodyContent">
    @RenderBody()
</div>
</body>
</html>