@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/MainLayout.css">
<div class="leftBar">
    <div class="leftBarButton">First</div>
    <div class="leftBarButton">Second</div>
    <div class="leftBarButton">Third</div>
    <div class="leftBarButton">Fourth</div>
</div>
<div class="contentBlock">
    @RenderBody()
</div>