@{
    Layout = "_Layout";
}

<div class="leftBar">
@await Component.InvokeAsync("NavigationLeftBar")
</div>

@* <category-left-bar class="leftBar" css-class="leftBarButton"></category-left-bar> *@
<div class="contentBlock">
    @RenderBody()
</div>