@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <a asp-action="ControlPanel" asp-controller="AdminProductMvc">Products editor</a>
</div>
</body>
</html>