@model IEnumerable<SportStore.Models.ProductModel.Product>
@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="/css/AdminIndex.css">

<div style="padding: 30px">
    <div class="text-center">
        <form asp-action="CreateProduct" method="get">
            <input name="Count" value="1" class="btn btn-sm" style="border: solid black 1px"/>
            <button type="submit" class="btn btn-danger btn-sm">Create</button>
            <a asp-action="Edit" asp-controller="Admin" asp-route-id="-1" class="btn btn-danger btn-sm">Edit all</a>
        </form>
    </div>
    
    


    @await Component.InvokeAsync("EditableProduct", Model);

</div>