.order-block {
    display: flex;
    flex-direction: column;

    /*border: solid LightGray 1px;*/
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.09);
}

.order-block__products-holder {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    /*min-width: 1450px;*/
    max-width: 1450px;
}

.product-block {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    width: 700px;
    height: 150px;
    border: solid LightGray 1px;
    justify-content: space-between;
}

.product-block__img {
    display: inline;
    height: 150px;
    width: 150px;
}

.product-block__amounts {
    display: flex;
    font-size: 20px;

}
.product-block__amounts input{
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
}

.product-block__address {
    display: flex;
}

.product-block__comment {
    display: flex;
}

.buttons-holder {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    margin: 0;
}

.btn-margins {
    margin: 0 20px;
}