
.product-block {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    width: 700px;
    height: 150px;
    border: solid LightGray 1px;
    justify-content: space-between;
}

.product-block__img {
    display: inline;
    height: 150px;
    width: 150px;
}

.product-block__amounts {
    display: flex;
    font-size: 20px;
}

.product-block__amounts.input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
}

.product-block__address {
    display: flex;
}

.product-block__comment {
    display: flex;
}

.buttons-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 1000px;
    margin: 0;
}

.buttons-formatter {
    display: flex;
    width: 95px;
    justify-content: center;
    align-items: center;
}


.btn-margins {
    margin: 0 20px;
}