* {
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    align-items: center;
    margin: 0;
}

/*.main-holder{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.content-block {
    display: flex;
    justify-content: center;
    width: 100%;
}


.body-content {
    display: flex;
    width: 1500px;
    justify-content: space-between;
    /*border: #3a18b5 solid 1px;*/
}

.admin-button {
    display: inline-block;
    font-size: 40px;
    margin: 20px 30px;
    padding: 2px 20px;
    background: #b3a8e0;
    color: white;
    justify-self: end;
}

.top-top-panel {
    text-align: center;
    height: 20px;
    background: #5b2dfa;
    color: white;
    width: 100%;
}
