@model IEnumerable<DAO.Models.ProductModel.Product>
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<div>
    @await Component.InvokeAsync("EditableProduct", Model);
</div>